@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_new_theme.cshtml";
}
<style>
    img {
        width: 100% !important;
        height: 250px !important;
    }
</style>


<div id="modal" class="modal animation-fadeIn" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            @*<div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Terms &amp; Conditions</h4>
                    </div>
                <div class="modal-body">
                    @if (Session["User"] == null)
                    {
                        @Html.Action("Login", "UserAccount")
                    }
                    @*else
                    {
                        <div id="issueForm">
                            @Html.Action("Create", "ModelReports")
                        </div>

                    }*@

        </div>
    </div>
</div>

<!-- Page content -->
<div id="page-content" class="block">

    <div class="row gutter30">
        <div class="col-md-3 br-dark" id="leftside">
            @Html.Action("Login", "UserAccount")
        </div>
        <div class="col-md-9 panel panel-info">
            <div class="panel-heading ui-sortable-handle">
                <span class="panel-title">
                    Welcome to ebook Service Portal
                </span>
                <span class="panel-controls"><a href="#" class="panel-control-loader"></a></span>
            </div>
            <div class="panel-body" id="content">
              
                @*<div class="row">
            <div class="col-md-4 panel panel-info">
                <div class="panel-body text-center">
                    <i class="fa fa-2x fa-ticket "></i>
                    <h3 class="text-center">Ticket</h3>
                    <p class="dl-horizontal">
                        Send ticket through our support center and get response of your doubts, suggestions and issues.
                    </p>
                </div>
            </div>
            <div class="col-md-4 panel panel-info">
                <div class="panel-body text-center">
                    <i class="fa fa-2x fa-user "></i>
                    <h3 class="text-center">Account</h3>
                    <p class="dl-horizontal">
                        All your tickets are stored in your account's profile. Keep track of all your tickets you send to our staff team.                        </p>
                </div>
            </div>
            <div class="col-md-4 panel panel-info">
                <div class="panel-body text-center">
                    <i class="fa fa-2x fa-bookmark "></i>
                    <h3 class="text-center">Articles</h3>
                    <p class="dl-horizontal">
                        Take a look to our articles about common issues, guides and documentation.                            </p>
                </div>
            </div>
        </div>*@
            </div>
            @*<!-- Lightbox Gallery Block -->
                <div class="block animation-fadeIn">
                    <!-- Lightbox Gallery Title -->
                    <div class="block-title">
                        <h2><i class="fa fa-camera"></i> Please Click Relevant Picture</h2>

                    </div>
                    <!-- END Lightbox Gallery Title -->
                    <!-- Lightbox Gallery Content -->
                    <!--
                    Just create a div with the class .gallery and put the images any way you like in grid.
                    If you would like to enable the lightbox gallery, just add the value lightbox-gallery in the attribute data-toggle of the div. If you do that
                    make sure that you put your images inside links with the class .gallery-link and the source of your large image as the value of each href attribute!
                    -->
                    <div class="gallery" data-toggle="lightbox-gallery">
                        <div class="row">
                            @foreach (tbl_MasterService VARIABLE in (List<tbl_MasterService>)ViewBag.ServiceList)
                            {
                                <div class="col-sm-3">
                                    <div class="block">
                                        <h1 class="block-header text-center">@VARIABLE.ServiceName</h1>
                                        <a href="javascript:void(0)" onclick="$('#message').empty();$('#DescriptionReport').val('');$('#LocationId').val('');$('#ServiceName').val('@VARIABLE.ServiceName');$('#ServiceId').val('@VARIABLE.Id');$('#modal').modal('show');" class="gallery-image" title="Image Info" id="@VARIABLE.Id">
                                            <img src="~/FreshUI/img/Service/@{@VARIABLE.ServiceName}.jpg" class="img img-thumbnail" alt="image">
                                        </a>
                                    </div>
                                </div>

                            }


                        </div>
                    </div>
                    <!-- END Lightbox Gallery Content -->
                </div>
                <!-- END Lightbox Gallery Block -->*@

        </div>
    </div>
    <!-- END Dashboard Content -->
</div>
@section Scripts{
    @*<script src="~/FreshUI/js/pnotify.custom.min.js"></script>*@
    <script src="~/FreshUI/js/utility.js"></script>
      <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js">
    </script>
    <script>
        $('#LocationId').select2({
            selectOnClose: true,
            width: '100%'
        });
    </script>
}